// Devices
$extended_screen: 1400px;
$large_screen: 1200px;
$medium_screen: 800px;
$small_screen: 480px;

// Navigation Rails
$left_rail: 300px;
$right_rail: 300px;

// Type Systems
$sans-serif: 'Inconsolata', sans-serif;
$base-font-family: 'Inconsolata', sans-serif;
$icon: 'Material Icons';
$code: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;

// Font Sizing
$base-font-size: 16px;
$base-line-height: 1.6;
$heading-line-height: 1.25;

// Font Sizes
$typo_ostrich: 3rem;
$typo_albatros: 2.2rem;
$typo_eagle: 1.8rem;
$typo_hawk: 1.5rem;
$typo_crow: 1.25rem;
$typo_sparrow: 1rem;
$typo_hummingbird: .875rem;

// Mobile Font Sizes
$m_typo_ostrich: 2rem;
$m_typo_albatros: 1.8rem;
$m_typo_eagle: 1.4rem;
$m_typo_hawk: 1.25rem;

// Special Fonts
$micro-font-size: 70%;
$small-font-size: 80%;

// Brand Colors
$smoke: whitesmoke;
$black: #000;
$red: orangered;
$blue: dodgerblue;
$green: #16b491;
$amber: orange;

// Primary Colors
$white: #ffffff;
$black: #222222;
$pink: hotpink;
$brown: #7f6042;
$grey: #707070;
$background: #eeece8;
$cardBackground: #d8d4cc;

// Accent Colors
$blue: #b0cdd8;
$primaryColor: #8ea260;
$secondaryColor: #707070;

$backgroundColor: #eeece8;
$backgroundColor2: #d8d4cc;

$accentColor: #e49871;

// Animations
$base-duration: .2s;
$base-timing: ease;

// Base Colors
$base-font-color: $black;
$heading-font-color: $black;
$subheading-font-color: $black;

// Code Color
$code-color: rgb(66, 66, 66);
$code-font-color: #ffffff;

// Borders
$base-border-radius: 1rem;
$base-border: 1px solid $secondaryColor;

// Margins
$margin: 1rem;
$margin_small: .5rem;
$margin_large: 1.5rem;
$margin_huge: 3rem;
$margin_massive: 4.5rem;


// Mobile Margins
$m_margin_huge: 1.5rem;
$m_margin_massive: 3rem;