---
title: Complex List
styles: components/list.scss
maturity: ready
---

<ul class="card">
    <div class="card__task">
        <div class="task__header">
            <p class="task__name"><strong>Task 1</strong></p>
            <div class="task__links">
                <a href="#" class="link">Edit</a>
                <span class="divider"> | </span>
                <a href="#" class="link">Destroy</a>
            </div>
        </div>
        <p class="task__description">Here is the description of task 1</p>
    </div>

    <div class="card__task">
        <div class="task__header">
            <p class="task__name"><strong>Task 2</strong></p>
            <div class="task__links">
                <a href="#" class="link">Edit</a>
                <span class="divider"> | </span>
                <a href="#" class="link">Destroy</a>
            </div>
        </div>
        <p class="task__description">Here is the description of task 2</p>
    </div>

    <div class="card__task">
        <div class="task__header">
            <p class="task__name"><strong>Task 3</strong></p>
            <div class="task__links">
                <a href="#" class="link">Edit</a>
                <span class="divider"> | </span>
                <a href="#" class="link">Destroy</a>
            </div>
        </div>
        <p class="task__description">Here is the description of task 3</p>
    </div>
</ul>
