
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 2%;
  padding: $small-pad $large-pad;
  background: $accentColor;
  border: none;
  border-radius: 12px;
  white-space: none;
  cursor: pointer;
  color: $white;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  min-width: 100px;
  transition: all .3s ease-in;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover:not(.btn--active),
  &:focus {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
  }
}

.btn--active, .btn:active {
  color: transparent;
  pointer-events: none;
  transform: scale(0.98);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.btn--disabled, .btn:disabled {
  pointer-events: none;
  background: $backgroundColor2;
}

.btn__icon {
  min-width: 0;
}