---
title: Radio Buttons
styles: components/input.scss
---
<div class="input">
    <p>Select your answer</p>
    <div class="input-group input-group__radiobutton">
        <input name="input" type="radio" class="input__type-radio" value="Option 1">
        <label for="input" class="input__label"> Radio1 Label</label>
    </div>
    <div class="input-group input-group__radiobutton">
        <input name="input" type="radio" class="input__type-radio" value="Option 2">
        <label for="input" class="input__label"> Radio2 Label</label>
    </div>
    <div class="input-group input-group__radiobutton">
        <input name="input" type="radio" class="input__type-radio" value="Option 1">
        <label for="input" class="input__label"> Radio3 Label</label>
    </div>
</div>