---
title: Radio Buttons
styles: components/input.scss
---
<div class="input">
    <p>Select your answer</p>
    <div class="input-radiobutton">
        <input name="input" type="radio" value="Option 1">
        <label for="input" class="input-label"> Radio1 Label</label>
    </div>
    <div class="input-radiobutton">
        <input name="input" type="radio" value="Option 2">
        <label for="input" class="input-label"> Radio2 Label</label>
    </div>
    <div class="input-radiobutton">
        <input name="input" type="radio" value="Option 1">
        <label for="input" class="input-label"> Radio3 Label</label>
    </div>
</div>