---
title: Navigation with Back Arrow
styles: components/navigation.scss
---

<nav class="nav"> 
    <ul class="nav_header">
        <li class="nav_header_left">
            <a href="#" class="back-arrow_link" alt="Logo" >
                <svg xmlns="http://www.w3.org/2000/svg" width="18.914" height="35.828" viewBox="0 0 18.914 35.828">
                    <path id="chevron-left" d="M25.5,39,9,22.5,25.5,6" transform="translate(-8 -4.586)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"/>
                </svg>

            </a>
            <p class="nav_header_title"> Edit Player </p>
        </li>
        <li class="nav_header_right">
            <div class="sidebar_trigger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </li>
    </ul>
</nav>